<main role="main" id="ad_<%= ad.id %>">
  <div class="jumbotron container">
    <h3><strong><% ad.tags.each do |tag| %> [<%= tag.title %>] <% end %></strong></h3>

    <p class="lead"><strong><%= ad.category %></strong></p>

    <h4>"<%=ad.title %>"</h4>

    <div id="options" class="text-right">

    <button type="button" class="btn btn-outline-primary">
      <%= link_to 'detalle', ad %>
    </button>

    <% if can? :edit, ad %>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to 'editar', edit_ad_path(ad) %>
    </button>
    <% end %>

    <% if can? :destroy, ad %>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to 'eliminar', ad, method: :delete, data: { confirm: 'Are you sure?' } %>
    </button>
    <% end %>

    </div>

  </div>
</main>
