<main role="main" class="container" id="ad_<%= ad.id %>">
<div class="jumbotron">
  <h2><% ad.tags.each do |tag| %> <%= tag.title %> <% end %></h2>
  <p class="lead"><%= ad.category %></p>
  <p><%= ad.title %></p>
  <%= link_to 'detalle', ad %> 
  <% if can? :edit, ad %>
  <%= link_to 'editar', edit_ad_path(ad) %>
  <% end %>
  <% if can? :destroy, ad %>
  <%= link_to 'eliminar', ad, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
</main>
