<div class="card">

<%= form_with(model: ad, local: true) do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2 class="text-center"><strong><%= form.label :"Qué ofreces?"%></strong></h2>

    <p><%= form.text_field :title, class:'form-control'%></p>
  </div>




  <div class="text-center">
    <h2><strong><%= form.label :"Elige una categoría"%></strong></h2>
    <h5><%= form.select :category, options_for_select(@categories),
    prompt: 'selecciona una categoría', class:'form-control'%></h5
  </div>

  <br>

  <div class="field">
  <h2><strong>Qué te gustaría enseñar?</strong></h2>

  <% @tags.each do |tag|%>
        <%= form.fields_for :ads_tags do |t|%>
        <%= t.label tag.title %>
        <%= t.check_box tag.id%>
      <% end%>
    <% end%>

  </div>

  <br>

  <div class="field">
 <h2><strong><%= form.label :"Necesitamos tu foto!" %></strong></h2>
 <%= form.file_field :image %>
</div>

<br>

  <div class="field">
    <h2><strong><%= form.label :Certificaciones %></strong></h2>
    <%= form.file_field :instruction %>
  </div>

  <br>

  <div class="actions text-right">
    <p><%= form.submit %></p>
  </div>

  <br>

<% end %>
