<div class="card">

<%= form_with(model: ad, local: true) do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= form.label :"Qué ofreces?"%></h2>
    <h4><i class="fas fa-pencil-alt fa-2x"></i></h4>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <br>

  <div class=field>
    <h2><%= form.label :"Elige una categoría"%></h2>  
  
    <h4><i class="fas fa-list-ol fa-2x"></i></h4>
      <br>
    <h4><%= form.select :category, options_for_select(@categories), 
    prompt: 'selecciona una categoría', class:'form-control'%></h4>
  </div>

  <br>

  <div class="form-group">
  <h2>Qué te gustaría enseñar? </h2>
  <br>
  <h5><% @tags.each do |tag|%>
        <%= form.fields_for :ads_tags do |t|%>
        <%= t.label tag.title %>
        <%= t.check_box tag.id%>
      <% end%>
    <% end%>
    <h5>
  
  </div>

  <div class="field">
 <h2><%= form.label :"Tu Foto" %></h2>
 <h5><i class="fas fa-camera-retro fa-2x"></i></h5>
 <br>
 <h4><%= form.file_field :image %></h4>
</div>

  <div class="form-group">
    <h2><%= form.label :Certificaciones %></h2>
    <h4><%= form.file_field :instruction %></h4>

  </div>

  <h5><div class="actions">
    <%= form.submit %></h5>
  </div>
<% end %>

</div>
