

<p id="notice"><%= notice %></p>

<h2 class="text-center"><strong>Perfil</strong></h2>

  <div>
       <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
         <div class="col p-4 d-flex flex-column position-static">

           <div class="text-right">
           <% if @ad.instruction.attached? %>
           <i class="fas fa-file-pdf fa-2x"></i>
           <a href="<%= rails_blob_path(@ad.instruction, disposition: 'attachment')%>">Descargar PDF</a>
           <% end %>

           <i class="fab fa-youtube fa-2x"><%= @ad.link1 %></i>
           <a href="">Mi Canal youtube</a>

           </div>

           <p class="mb-0 my-5">Profe: <strong>Gonzalo Cárcamo Salinas </strong><p>
           <div class="mb-1 text-muted"><strong>"<%=@ad.title%>"</strong></div><br>
           <strong class="d-inline-block mb-2 text-dark">
             <% @ad.tags.each do |tag| %>
                [<%= tag.title%>]
                <% end %></strong>





         </div>
         <div class="col-auto d-none d-lg-block">
           <% if @ad.image.attached? %>
           <p>
           <%= image_tag @ad.image, style: "height:400px; width:400px;"%>
           </p>

           <% end %>
         </div>
       </div>
     </div>
     <%= link_to 'Edit', edit_ad_path(@ad)%>
     <%= link_to 'Back', ads_path %>
