<h1 class="text-center">Perfil</h1>

<main>

  <div class="text-center">
    <% if @ad.image.attached? %>
      <p>
        <%= image_tag @ad.image, class: 'rounded-circle' %>
      </p>

    <% end %>

  </div>

  <div class="text-center">
    <% if @ad.instruction.attached? %>
      <i class="fas fa-file-pdf fa-2x"></i>
      <a href="<%= rails_blob_path(@ad.instruction, disposition: 'attachment')%>">Descargar PDF</a>
    <% end %>

  </div>

</main>





  <% @users.each do |user| %>
    <% if user.id == @ad.user_id %>
      <p>Profesor:
        <%= user.name %></p>
      <p>Resumen:
        <%= user.resume %></p>
      <p>Valor hora:
        <%= user.fee %>
        Pesos</p>

      <div class="container">
        <h2 class="text-center">Comentarios</h2>

        <div class="text-center">
              <input class="w-50" id="comment" type="text" name="" value="">
              <input type="hidden" name="" value="<%= user.id %>" id="user" aria-hidden="true">
              <button class="btn btn-primary" type="submit" id="send-comment">Agregar comentario</button>

        </div>



        <% @comments.each do |comment|%>


          <% if comment.user_id == user.id && @ad.user_id %>

            <div class="jumbotron jumbotron-fluid" id="comment-list">

              <div  class="container">

                <h4><%= comment.post %></h4>
                <h6 class="text-right"><%= comment.created_at %></h6>
                <h6></h6>
              </div>

            </div>
          <% end %>

        <% end %>
      <% end %>
    </div>
  <% end %>

  </div>
