<!--USER PROFILE -->

<main id="show-main" style="height:500px";>

  <% @users.each do |user| %>
    <% if user.id == @ad.user_id %>
    <div class="container">

      <div class="row my-4">
        <div class="col-lg-4 col-md-12 col-sm-12 my-5 text-center">

          <% if @ad.image.attached? %>
              <p class=""><%= image_tag @ad.image, class:'rounded-circle'%></p>
          <%else%>
              <p><%= image_tag 'profile.png', class:'rounded-circle'%></p>
          <% end %>
        </div>

      <div class="col-lg-6 col-md-12 col-sm-12 my-5">
        <h3 class=""><strong><%= user.name %></strong></h3>
        <h4>"<%= user.resume %>."</h4>
        <div class="row">
          <h5><i class="fas fa-money-bill fa-2x my-2 ml-3 text-secondary"></i><strong>$<%= user.fee %></strong> Pesos</h5>
          <h5><i class="fab fa-whatsapp fa-2x my-2 ml-5 text-success"></i><strong><%= user.contact %></strong></h5>
          <div class="">
            <% if @ad.instruction.attached? %>.
              <i class="fas fa-file-pdf fa-3x text-danger ml-5"></i>
              <a href="<%= rails_blob_path(@ad.instruction, disposition: 'attachment')%>">Descargar PDF</a>
              <% end %>
            </div>
        </div>
      </div>
      </div>
    </div>
  <%end%>
<%end%>

</main>

<h2 class="text-center"><strong>Comentarios</strong></h2>
<p><input type="hidden"  name="" value="<%= @ad.id %>" id="p" aria-hidden="true"></p>
<% @users.each do |user| %>
  <p><input type="hidden"  name="" value="<%= user.id %>" id="user" aria-hidden="true"></p>
<%end%>

<% @users.each do |user| %>
  <% @comments.each do |comment|%>
  <p><input type="hidden"  name="" value="<%= comment.ad_id %>" id="ad-value" aria-hidden="true"></p>

    <% if comment.user_id == user.id && @ad.user_id %>
      <div class="jumbotron jumbotron-fluid container" id="comment-list">
        <h4><%= comment.post %></h4>
        <h6 class="text-right"><i>Publicado con fecha<%= comment.created_at %></i></h6>

      </div>
    <%end%>
  <%end%>
<%end%>

<div class="container">

  <input class="w-100 my-2" id="comment" type="text" name="" value="">
  <button  class="btn btn-primary w-100" type="submit" id="send-comment">Agregar comentario</button>
</div>

<br><br><br><br><br>
