<!--USER PROFILE -->

<% @users.each do |user| %>
  <% if user.id == @ad.user_id %>

    <div class="container">

      <div class="row my-3">
        <div class="col-lg-4">

          <% if @ad.image.attached? %>
            <p><%= image_tag @ad.image, class:'rounded-circle'%></p>
          <%else%>
            <p><%= image_tag 'profile.png', class:'rounded-circle'%></p>
          <% end %>
        </div>

        <div class="col-lg-6 my-5">

          <h3 class=""><strong><%= user.name %></strong></h3>

          <h4>"<%= user.resume %>."</h4>

          <h5><i class="fas fa-money-bill fa-2x mr-3 text-secondary"></i><strong>$<%= user.fee %></strong> Pesos</h5>

          <h5><i class="fab fa-whatsapp fa-2x mr-3 text-success"></i><strong><%= user.contact %></strong></h5>

          <div class="my-4">
            <% if @ad.instruction.attached? %>.
              <i class="fas fa-file-pdf fa-2x mr-3 text-danger"></i>
              <a href="<%= rails_blob_path(@ad.instruction, disposition: 'attachment')%>">Descargar PDF</a>
            <% end %>

          </div>

        </div>

      </div>

    </div>

  <%end%>
<%end%>


<!--PROFILE COMMENTS -->



<div class="container">
  <h2 class=""><strong>Comentarios</strong></h2>
  <input class="w-100 my-2" id="comment" type="text" name="" value="">
  <button  class="btn btn-primary w-100" type="submit" id="send-comment">Agregar comentario</button>
</div>
<p><input type=""  name="hidden" value="<%= @ad.id %>" id="p" aria-hidden="true"></p>
<% @users.each do |user| %>
  <p><input type=""  name="hidden" value="<%= user.id %>" id="user" aria-hidden="true"></p>
<%end%>

<% @users.each do |user| %>
  <% @comments.each do |comment|%>
  <p><input type="hidden"  name="" value="<%= comment.ad_id %>" id="ad-value" aria-hidden="true"></p>

    <% if comment.user_id == user.id && @ad.user_id %>
      <div class="jumbotron jumbotron-fluid container" id="comment-list">
        <h4><%= comment.post %></h4>
        <h6><%= comment.created_at %></h6>
          <h4><%= comment.user.name %></h4>


      </div>
    <%end%>
  <%end%>
<%end%>
