<main id="registration-main" style="height:650px";>

  <div id="form" class="container col-lg-6 col-md-6 col-sm-6">

    <br><br>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>



    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <br>

    <div class="form-group">
      <h4><strong><%= f.label :"Cuéntanos de tí" %><br /></strong></h4>
      <%= f.text_field :resume, class:'form-control' %>
    </div>

    <div class="form-group">
      <h4><strong><%= f.label :"Cuánto cuesta tu clase?" %><br /></strong></h4>
      <%= f.number_field :fee, class:'form-control' %>
    </div>

    <div class="form-group">
      <h4><strong><%= f.label :"¿Cómo te contactamos?" %><br /></strong></h4>
      <%= f.text_field :contact, class:'form-control' %>
    </div>


    <br>

    <div class="actions form-group">
      <%= f.submit "Actualizar", class:'form-control btn btn-primary' %>

    </div>
  <% end %>
  </div>


</main>
