<main id="registration-main" style="height:650px";>
  <div id="form" class="container">

    <h3 class="text-center">Regístrate <br> <h4> <%= render "devise/shared/links" %> </h4> </h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "Nueva contraseña" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "nueva contraseña" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirma tu nueva contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "nueva contraseña", class:"form-control" %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Change my password", class:"form-control btn btn-primary" %>
    </div>
  <% end %>



  </div>

</main>
