<main id="registration-main" style="height:590px";>

  <div id="form" class="container col-lg-6 col-md-6 col-sm-6 my-4">

    <br><br>

  <h3 class="text-center">Olvidaste tu contraseña? <br> <h4> <%= render "devise/shared/links" %> </h4> </h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <h4><%= f.label :"Ingresa tu correo!" %></h4><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Recibir instrucciones en mi correo", class:'form-control btn btn-primary' %>
    </div>
  <% end %>


  </div>

</main>
